<div class="container">
    <%= simple_form_for(@want, url: want_path, method: :patch) do |f| %>
    <%= f.input :foil %>
    <%= f.input :quantity %>
    <%= f.input :min_condition, collection: ["Indifférent", "Mint", "Near Mint", "Excellent", "Good", "Light Played", "Played", "Poor"] %>
    <%= f.input :language, collection: ["Indifférent", "Anglais", "Français", "Allemand", "Italien", "Chinois - S", "Japonais", "Portugais", "Russe", "Corréen", "Chinois - T"] %>
    <%= f.submit "Save card", class: "btn btn-success" %>
    <% end %>
   </div>

