

<div class= "landing-title">CARD TRADE</div>
<div class="landing-motto">Echange tes cartes avec ta voisine</div>



<div class="col-sm-8 col-sm-offset-2 main">
      <div class="landing-description">
        <i class="fas fa-long-arrow-alt-right"></i>Ajoute tes cartes a la liste
        <i class="fas fa-long-arrow-alt-right"></i>Ajoute les cartes que tu recherches
        <i class="fas fa-long-arrow-alt-right"></i>Si résultat avec un autre utilisateur
        <i class="fas fa-long-arrow-alt-right"></i>Commence ton trade
      </div>
</div>



<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
